
:root{
    --card-size: 350px ;
    --white: #FFFFFF;
    --black: #000000;
    --very-light-pink: #C7C7C7;
    --text-input-field: #F7F7F7;
    --rojo: #E5252E;
    --sm: 14px;
    --md: 16px;
    --lg: 18px;

}
body{
    margin: 0;
    font-family: 'Quicksand', sans-serif;

}

.login {
  width: 100%;
  height: 100vh;
  display: grid;
  place-items: center;
}

.form-container {
  display: grid;
  grid-template-rows: auto 1fr auto;
  width: 300px;
}

.logo {
  width: 150px;
  margin-bottom: 48px;
  justify-self: center;
  display: none;
}

.title {
  font-size: var(--lg);
  margin-bottom: 12px;
  text-align: center;
}

.subtitle {
  color: var(--very-light-pink);
  font-size: var(--md);
  font-weight: 300;
  margin-top: 0;
  margin-bottom: 32px;
  text-align: center;
}
.form {
  display: flex;
  flex-direction: column;
}

.label {
  font-size: var(--sm);
  font-weight: bold;
  margin-bottom: 4px;
}

input {
  background-color: var(--text-input-field);
  border: none;
  border-radius: 8px;
  height: 30px;
  font-size: var(--md);
  padding: 6px;
  margin-bottom: 12px;
}

.primary-button {
  background-color: var(--rojo);
  border-radius: 8px;
  border: none;
  color: var(--white);
  width: 100%;
  cursor: pointer;
  font-size: var(--md);
  font-weight: bold;
  height: 50px;
}

.login-button {
  margin-top: 14px;
  margin-bottom: 30px;
}

.circulo{
  width: 150px;
  height: 150px;
  background-color: var(--text-input-field);
  justify-self: center;
  align-items: center;
  border-radius: 50%;
  display: grid;
 
}

.email{
  width: 100px;
  display: grid;
  place-items:center;
  justify-self: center;
}

.text-red{
  text-decoration: none;
  color: var(--rojo);
  text-align: center;  
}

.sing {
  background-color:var(--white) ;
  border-radius: 8px;
  border-width: 1px;
  border-style: solid;
  border-color: var(--rojo);
  width: 100%;
  cursor: pointer;
  font-size: var(--md);
  font-weight: bold;
  height: 50px;
  color: var(--rojo);
}

.edit{
  background-color: var(--text-input-field);
  border: none;
  border-radius: 8px;
  height: 30px;
  font-size: var(--md);
  padding: 6px;
  margin-bottom: 12px;

}

/*Tamaño de las cartas*/
.cards-container{
  display: grid;
  grid-template-columns:repeat(auto-fill,var(--card-size)) ;
  gap: 26px;
  place-content: center;
}

.product-card{
  width: var(--card-size);
  
}

.product-card img {
  width: var(--card-size);
  height: var(--card-size);
  border-radius: 20px;
  object-fit: cover;
}

/**/

.product-info{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 12px;
}

.product-info figure {
  margin: 0;
}

.product-info figure img{
  width: 35px;
  height: 35px;
}

.product-info div p:nth-child(1){
  font-weight: bold;
  font-size: var(--md);
  margin-top: 0;
  margin-bottom: 4px;
}

.product-info div p:nth-child(2){
  font-size: var(--sm);
  margin-top: 0;
  margin-bottom: 0;
  color: var(--very-light-pink);
}


/*Menus Escritorio*/

.menu-escritorio{
  border: 1px solid var(--very-light-pink);
  list-style: none;
  width: 100px;
  border-radius: 10px;
  padding: 15px;
  text-align: right;
  margin: 10px;
}

.menu-escritorio li {
  padding: 8px 0;
}

.menu-escritorio li:last-child {
  border-top: 1px solid var(--very-light-pink);
  
}

.menu-escritorio li:last-child a {
  font-size: var(--sm);
  font-weight: normal;
  padding-top: 10px;
  padding-bottom: 0px;
  
}

.menu-escritorio a {
  font-size: var(--md);
  padding-bottom: 10px;
  text-decoration: none;
  color: var(--black);
  display: block;
  font-weight: bold;
}

/*Menu Mobile*/

.menu-mobile{
  list-style: none;
  text-align: left;
  margin: 10px;
}

.menu-mobile li {
  padding: 8px 0;
  font-weight: bold;
}

.menu-mobile a{
  text-decoration: none;
  color: var(--black);
}

.categories li:nth-child(7) {
  border-bottom: 1px solid var(--very-light-pink);
}

.orders li:nth-child(3) {
  color: var(--very-light-pink);
  font-weight: normal;
}





@media (max-width: 640px) {
    .logo{
        display: block;
    }
}

@media (max-width: 640px) {
    .vertical .logo{
        display: block;
    }

    .vertical .login-button{
      position: fixed;
      bottom: 0;
      width: 300px;
    }
}

@media (max-width:640px){

  :root {
    --card-size: 140px;
  }
}