<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;500;700&di
    splay=swap" rel="stylesheet">

    <!-- Hoja de estilos -->
    <link rel="stylesheet" href="../style.css">

    <!-- Favicon -->
    <link rel="icon" type="image/svg" href="../logos/favicon.svg">

    <title>Main</title>

</head>

<body>

   

    
   <section class="main-container">
    <div class="cards-container">

        <div class="product-card">
            <img src="https://images.pexels.com/photos/162709/apple-red-fruit-fruits-162709.jpeg" alt="">
            <div class="product-info">
                <div>
                    <p>$ 7.000</p>
                    <p>Carga de Manzanas</p>
                </div>
                <figure>
                    <img src="../icons/bt_add_to_cart.svg" alt="">
                </figure>
            </div>
        </div>

              <div class="product-card">
            <img src="https://images.pexels.com/photos/34284760/pexels-photo-34284760.jpeg" alt="">
            <div class="product-info">
                <div>
                    <p>$ 10.000</p>
                    <p>Kiwi</p>
                </div>
                <figure>
                    <img src="../icons/bt_add_to_cart.svg" alt="">
                </figure>
            </div>

        </div>

              <div class="product-card">
            <img src="https://images.pexels.com/photos/65256/pomegranate-open-cores-fruit-fruit-logistica-65256.jpeg" alt="">
            <div class="product-info">
                <div>
                    <p>$ 20.000</p>
                    <p>Granada</p>
                </div>
                <figure>
                    <img src="../icons/bt_add_to_cart.svg" alt="">
                </figure>
            </div>

        </div>

              <div class="product-card">
            <img src="https://images.pexels.com/photos/1268122/pexels-photo-1268122.jpeg" alt="">
            <div class="product-info">
                <div>
                    <p>$ 27.000</p>
                    <p>Durazno</p>
                </div>
                <figure>
                    <img src="../icons/bt_add_to_cart.svg" alt="">
                </figure>
            </div>

        </div>

              <div class="product-card">
            <img src="https://images.pexels.com/photos/2363345/pexels-photo-2363345.jpeg" alt="">
            <div class="product-info">
                <div>
                    <p>$ 10.000</p>
                    <p>Mango</p>
                </div>
                <figure>
                    <img src="../icons/bt_add_to_cart.svg" alt="">
                </figure>
            </div>

        </div>

              <div class="product-card">
            <img src="https://images.pexels.com/photos/693795/pexels-photo-693795.jpeg" alt="">
            <div class="product-info">
                <div>
                    <p>$ 2.000</p>
                    <p>Naranja</p>
                </div>
                <figure>
                    <img src="../icons/bt_add_to_cart.svg" alt="">
                </figure>
            </div>

        </div>

              <div class="product-card">
            <img src="https://images.pexels.com/photos/2872755/pexels-photo-2872755.jpeg" alt="">
            <div class="product-info">
                <div>
                    <p>$ 2.000</p>
                    <p>Banano</p>
                </div>
                <figure>
                    <img src="../icons/bt_add_to_cart.svg" alt="">
                </figure>
            </div>

        </div>

              <div class="product-card">
            <img src="https://images.pexels.com/photos/4038801/pexels-photo-4038801.jpeg" alt="">
            <div class="product-info">
                <div>
                    <p>$ 30.000</p>
                    <p>Fresas</p>
                </div>
                <figure>
                    <img src="../icons/bt_add_to_cart.svg" alt="">
                </figure>
            </div>

        </div>

              <div class="product-card">
            <img src="https://images.pexels.com/photos/2539177/pexels-photo-2539177.jpeg" alt="">
            <div class="product-info">
                <div>
                    <p>$ 12.000</p>
                    <p>Arandanos</p>
                </div>
                <figure>
                    <img src="../icons/bt_add_to_cart.svg" alt="">
                </figure>
            </div>

        </div>

              <div class="product-card">
            <img src="https://images.pexels.com/photos/7214926/pexels-photo-7214926.jpeg" alt="">
            <div class="product-info">
                <div>
                    <p>$ 8.000</p>
                    <p>Uvas</p>
                </div>
                <figure>
                    <img src="../icons/bt_add_to_cart.svg" alt="">
                </figure>
            </div>

        </div>

              <div class="product-card">
            <img src="https://images.pexels.com/photos/3385449/pexels-photo-3385449.jpeg" alt="">
            <div class="product-info">
                <div>
                    <p>$ 5.000</p>
                    <p>Mandarinas</p>
                </div>
                <figure>
                    <img src="../icons/bt_add_to_cart.svg" alt="">
                </figure>
            </div>

        </div>

              <div class="product-card">
            <img src="https://images.pexels.com/photos/4113834/pexels-photo-4113834.jpeg" alt="">
            <div class="product-info">
                <div>
                    <p>$ 17.000</p>
                    <p>Papaya</p>
                </div>
                <figure>
                    <img src="../icons/bt_add_to_cart.svg" alt="">
                </figure>
            </div>

        </div>

              <div class="product-card">
            <img src="https://images.pexels.com/photos/161573/background-water-breakfast-bright-161573.jpeg" alt="">
            <div class="product-info">
                <div>
                    <p>$ 5.000</p>
                    <p>Limon</p>
                </div>
                <figure>
                    <img src="../icons/bt_add_to_cart.svg" alt="">
                </figure>
            </div>

        </div>

              <div class="product-card">
            <img src="https://images.pexels.com/photos/571172/pexels-photo-571172.jpeg" alt="">
            <div class="product-info">
                <div>
                    <p>$ 8.000</p>
                    <p>Mora</p>
                </div>
                <figure>
                    <img src="../icons/bt_add_to_cart.svg" alt="">
                </figure>
            </div>

        </div>

              <div class="product-card">
            <img src="https://images.pexels.com/photos/568471/pexels-photo-568471.jpeg" alt="">
            <div class="product-info">
                <div>
                    <p>$ 7.000</p>
                    <p>Pera</p>
                </div>
                <figure>
                    <img src="../icons/bt_add_to_cart.svg" alt="">
                </figure>
            </div>

        </div>
    </div>    
        
</section>




</body>

</html>



